<div class="ui active modal">
    <div class="header">
        <h4>Create New Watchlist</h4>
    </div>
    <div class="content">
        <form name="listForm" class="ui form">
            <div class="field">
                <label for="list-name">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="list-name" 
                    placeholder="Name this watchlist" 
                    ng-model="watchlist.name" required>
            </div>
            <div class="field">
                <label for="list-description">Brief Description</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="list-description" 
                    maxlength="40" 
                    placeholder="Describe this watchlist" 
                    ng-model="watchlist.description" 
                    required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="ui button" ng-click="createList()" ng-disabled="!listForm.$valid">Create</button> 
                <button type="button" class="ui button" ng-click="$hide()">Cancel</button>
            </div>
        </form>
    </div>
</div>