.wrapper {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    font-size: 1rem;

    div {
        margin: 1rem 1rem;
    }
    .json {
        display: flex;
        align-items: center;
    }
}