html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 2px solid #3498db;
    padding: 1rem;
    margin: 1rem;
}

legend {
    font-size: 1rem;
    color: #3498db;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-align: left;
}