body, html {
  background-color: white !important;
}
p {
  margin: 5px 3px;
  text-align: left;
  font-size: 12px;
}

#description {
  font-size: 12px;
}

#drop-placheholder {
  width: 300px;
  height: 200px;
  border: 2px dashed ;
  color: rgb(63, 81, 181);
  line-height: 200px;
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
}

.preview {
  width: 100%;
  height: auto;
}

.flexbox-parent {
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

md-input-container {
  margin: 25px 0 10px 0;
}

.card-media {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
  margin: 0 10px;
}

.md-chip-content {
  font-size: 12px;
}

md-card-content {
  display: inline;
  
  fieldset {
    margin: 5px 0;
    display: inline-block;
  }
}

md-card {
  position: relative;

  .md-fab {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

md-tabs-content-wrapper {
  padding: 10px 0;
  text-align: center;
}

md-list-item {
  height: 30px !important;
  line-height: 30px !important;
  min-height: 30px !important;
}